*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.logomemphis{
    width: 64px;
}
header{
    height: 100px;
    background-color: black;
    padding: 10px 50px;
    color: white;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;   
}

.logo{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 200;
}

ol{
    padding: 30px 50px;

    
}
 h1{
    background-color: rgb(177, 31, 31);
    font-size:30px;
    padding: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

ol li{
    font-size: 20px;
    margin: 20px;
    font-style: italic;
}

.menu a{
    color: rgb(206, 60, 60);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
    transition: 0,4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0,4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover, 
.mostrar-menu:hover,
.esconder-menu:hover{
 color: #fff;
}

#check{
    display: none;
}
 
.imagenes{
    padding: 0 50px;
    background-image: url(../images/4.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
}

div h3{
    font-size: 36px;
    color: rgb(95, 95, 95);
    padding-bottom: 20px;
    
}

.ver{
    text-decoration: none;
    color: rgb(206, 60, 60);
    font-size: 25px;
    border: 1px solid rgb(206, 60, 60);
    padding: 10px 20px;
    align-self: baseline;
    transition:all 0.4s;

   
}

.ver:hover{
    background-color: rgb(224, 149, 149); 
    
}

section{
    padding: 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div h4{
    color: #000;
    font-size: 20px;
    margin: 10px 0px;
    display: flex;
    justify-content:space-between
}
div p{
    color: rgb(139, 139, 139);
    margin: 10px 0px;
 
}
.comprar{
    display: inline-block;
    text-decoration: none;
    color: rgb(206, 60, 60);
    padding: 10px;
    border: 1px solid rgb(206, 60, 60);
    
  
}
.comprar:hover{
    background-color: rgb(224, 149, 149);
}



.contacto{
    background-color: rgb(0, 0, 0);
    padding: 50px 0px;
    color: #fff;
}

.contacto h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contacto form{
    max-width: 80%;
    margin: 0 auto;
}

.datos{
    display: flex;
}

.datos div{
    padding: 10px;
    flex: 1;
}
form label{
    display: block;
    margin-bottom: 10px;
}

form input, form textarea{
    background-color: #fff;
    border: 1px solid #005;
    padding: 10px 5px;
    outline: 0px;
    width: 100%;
}

form input::placeholder, form textarea::placeholder{
    color: #000;
}

.mensaje{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.botonFormulario .enviar{
    display: block;
    border: 1px solid rgb(206, 60, 60);
    color: rgb(206, 60, 60);
    text-align:center;
    transition:0.4s;
    padding: 10px 10px;

}

.botonFormulario .enviar:hover{
    background-color:rgb(224, 149, 149);  ;
}
footer{

background-color: #000;
padding: 50px 50px;
color: #fff;
display: flex;
justify-content: center;

}

@media(max-width:768px){

    .mostrar-menu,
    .esconder-menu {
        display:block;
    }
    
     
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000;
        right: -100%;
        top:0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0,8s;
        
        
    }

    .menu a{
        display: block;
        padding: 20px;   
        
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked~.menu{
        right: 0;
    }    


    div h3{
        font-size: 24px;
        color: rgb(206, 60, 60);
        
    }
    
    div h3{
        font-size: 34px;
        color: rgb(95, 95, 95);
        padding-bottom: 15px;
        
    }

    .ver{
        text-decoration: none;
        color: rgb(206, 60, 60);
        font-size: 25px;
        border: 1px solid rgb(206, 60, 60);
        padding: 10px 20px;
        align-self: baseline;
        transition:all 0.4s;
    
       
    }
    
    .ver:hover{
        background-color: rgb(224, 149, 149); 
        
        
    }
    
    section{
        padding: 1px 10px;
        display:block;
        flex-direction: column;
        margin: 15px 200px;
       
    }
 
    
  div{
    margin: 30px;
  }

  div h4{
    color: #000;
    font-size: 35px;
    margin: 0px 0px;
    padding-top: 10px;
  }
div p{
    color: rgb(139, 139, 139);
    font-size: 30px;
    margin: 10px 5px;
 
}
.comprar{

    display:inline-block;
    text-decoration:none;
    color:rgb(206,60,60);
    padding:10px 140px;
    border:1px solid rgb(206, 60, 60);
}

.datos{
    flex-direction: column;
}
}